<div  [ngStyle]="{'display':'flex', 'justify-content':'center',
 'background-color':'grey','height':'85vh'}">
    <div>
        <img src="https://media.gettyimages.com/photos/close-up-of-hand-business-woman-thinking-account-using-calculator-picture-id1316747437?k=20&m=1316747437&s=612x612&w=0&h=MM2mjEAB7K2tqr81NF9-47n3dM49-WrFrM5NT0VKFUk=" width="100%" height="100%" alt="">
       
    </div>
    <div *ngIf="viewform" [ngStyle]="{'padding':'40px', 'text-align':'left',
     'background-color':'grey', 'gap':'20px'}">
            <router-outlet></router-outlet>
    </div>
    <div *ngIf="view">
        
        
        <h1  [ngStyle]="{'padding':'120px 20px 80px 70px','color':'black', 'text-align':'center'}">THE JITU FEES <br>MANAGEMENT SYSTEM <br>
            <p><i>
            Every one of your paid coins <br>is well captured...
            </i></p></h1>
        
    </div>
</div>
