<div class="addstudentdiv" >
    <form action="" class="addstudentform">
        <label for="">Input student Full name</label>
        <input type="text" name="name">
        <label for="">Select class</label>
        <select name="" id="">
            <option value="form1"> Form 1</option>
            <option value="form2"> Form 2</option>
            <option value="form3"> Form 3</option>
            <option value="form4"> Form 4</option>
        </select>
        <label for="gender">Select gender</label>
        <div><input type="radio" name="gender" value="male">male</div>
        <div><input type="radio" name="gender" value="female">female</div>
        <label for="fees">Current balance</label>
        <input type="number" name="balance" id="">
    </form>
</div>
