<div>
    <div #login action="" [ngStyle]="{
        'display':'flex',
        'flex-direction':'column',
        'justify-content':'left',
        'align-items':'center'}">

        <label for="email">Input email</label>
        <input type="email" name="email" [(ngModel)]= "staticInput.email"/>
        <label for="password">Input Password</label>
        <input type="password" name="password" [(ngModel)] ="staticInput.password">
        <br>
        <input type="submit" value="login" (click)="Login()">
    </div>
</div>
