<div class="mainformdiv">
    
        <div class="formName">
            <p>Fees Management</p>
        </div>
        <div class="formInputs">
            LOGIN HERE <br><br>
            <ab [ngStyle]="{'color':'red','font-size':'15px'}" *ngIf=validate>Invalid credentials...</ab>
            <label for="email">Input Email</label>
            <input type="email" name="email" [(ngModel)]= "staticInput.email"/>
            <label for="password">Input Password</label>
            <input type="password" name="password" [(ngModel)] ="staticInput.password">
            <br>
            <input type="submit" value="Login" (click)="Login()">
        </div>
    
</div>
