<div *ngIf="studentwithBal.length else text1">

<table border>
    <thead >
        <tr>
            <th>Student Name</th>
            <th>Gender</th>
            <th>Class</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody class="viewstudentdiv" *ngFor="let student of studentwithBal">        
            
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.class}}</td>
                    <td>{{ student.balance}}</td>
                </tr>
    </tbody>
    
    </table>
    
</div>
<div class="comment">
    <ng-template #text1>No student with Outstanding balance currently...</ng-template>
</div>

