<div *ngIf="studentwithBal.length else text1">

<table border>
    <thead >
        <tr><th colspan="4">STUDENTS WITH OUTSTANDING BALANCEs</th></tr>
        <tr>
            <th>Student Name</th>
            <th>Gender</th>
            <th>Class</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody class="viewstudentdiv" *ngFor="let student of studentwithBal">        
            
                <tr>
                    <td>{{ student.name | titlecase}}</td>
                    <td>{{ student.gender | titlecase}}</td>
                    <td>{{ student.class | titlecase}}</td>
                    <td>{{ student.balance | currency: 'Ksh:': 'symbol':'1.2-2'}}</td>
                </tr>
    </tbody>
    
    </table>
    
</div>
<div class="comment">
    <ng-template #text1>No student with Outstanding balance currently...</ng-template>
</div>

