tr th{
    width: 17vw;
    height:30px
}
tr:nth-child(even) {
    background-color: blueviolet;
  }
  table{
    margin-top: 30px;
    margin-left:20px;
    
  }
  td{
    padding:5px;
    border: blueviolet solid;
  }




