.adminpage{
    height:80vh;
    display:flex;
    /* align-items: center; */
    background-color:lightgray;
}
.dashboard{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:20vw;
    
}

.dashboard a{
    text-decoration: none;
    background-color: gray;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width:15vw
}
