.adminpage{
    height:100vh;
    display:flex;
    align-items: center;
}
.dashboard{
    height:100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:20vw
}

.dashboard a{
    text-decoration: none;
    background-color: gray;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.mainDisplay{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    width: 70vw;
    gap:20px;
    background-color: red;
}

.mainDisplay router div{
    border:gray solid 5px;
    background-color: yellow;
}