<div appContainer [backgroundColor]="'blueviolet'" [color]="'yellow'"  >

  <h2 *ngIf="auth.authenticated()" appContainer [color]="'yellow'"> TheJituSchool </h2>
  <h2 appContainer [color]="'white'">Welcome To The Jitu School</h2>
  <h4 *ngIf="auth.authenticated()"><a (click)="toLogout()" appContainer
    [color]="'red'" [padding]="'10px'" [backgroundColor]="'lightblue'" [cursor]="'pointer'">Logout</a></h4> 
  <h4 *ngIf="!auth.authenticated()"><a (click)="toLogin()" appContainer 
    [color]="'green'" [padding]="'10px'" [backgroundColor]="'lightblue'" [cursor]="'pointer'">Login</a></h4> 

</div>
<router-outlet></router-outlet>

